.container {
  background-color: (0,0,0,0);
  display:flex;
  justify-content: center;
  align-items: center;
  height:75px;
  width:360px;
  border:8px solid (0,0,0,0);
}

#tomato {
  font-size: 50px;
  position: relative;
  bottom: 5px;
  background:transparent;
  color: transparent;  
  text-shadow: 0 0 0 rgba(223, 223, 223, 0.7);
  cursor: pointer;
  
  &:hover {
    text-shadow: 0 0 0 #404040;
  }
}

#countdown {
  text-align: center;
  font-size: 50px;
  font-family: "roboto";
  font-weight: 600;
  color: rgb(223, 223, 223);
  margin-left: 10px;
  margin-right: 20px;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
}

.imageContainer {
  height: 40px;
  width: 40px;
  align-items: center;

}

.imageContainer img {
  width:auto;
  height:100%;
}

#resetButton {
  margin-left: 15px;
}

/* aj tried changing the play, pause and reset buttons to css styling for easy color changes but wasn't able to yet. */

.playPause {
  background: transparent;
  box-sizing: border-box;
  width: 40px;
  height: 40px;

  border-color: transparent transparent transparent rgba(223, 223, 223, 0.7);
  transition: 100ms all ease;
  cursor: pointer;

  /* play state */
  border-style: solid;
  border-width: 20px 0px 20px 40px;

  &.paused {
    width: 40px;
    height: 40px;
    border-style: double;
    border-width: 0px 0 0px 35px;
    border-color: rgba(223, 223, 223, 0.7);
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
}

.stopButton {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 0px;
  background-color: rgba(223, 223, 223, 0.7);
  cursor: pointer;

  &:hover {
    background-color: #404040;
  }
}